scenarios/behind-nat-additional-cidr-block/worker.yaml
scenarios/behind-nat-additional-cidr-block/cfn.yaml
scenarios/behind-nat-additional-cidr-block/aws-auth.yaml
scenarios/proxy/worker.yaml
scenarios/proxy/cfn.yaml
scenarios/proxy/aws-auth.yaml